/* src/index.css */
:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #111111;
  --border-color: #dddddd;
  --box-bg: #f7f7f7;
}

:root[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #ffffff;
  --border-color: #333333;
  --box-bg: #1a1a1a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
